 /* @import url('https://fonts.googleapis.com/css?family=Sofia');
*{
 margin:0;
    padding: 0;
    box-sizing: border-box; 
    color: #d9d9d9;
    /* font-family: 'poppins', sans-serif; 
}  
*/

footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    /* background: #111; */
    background-color: white;

}
.main-content{
    display: flex;

}

.main-content .box{

    flex-basis: 50%;
    padding: 10px 20px;

}
.box h2{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;

}
.box .content{
    margin: 20px 0 0 0;

}
.left .content .social{
    margin: 20px 0 0 0;

}
.left .content .social a{
    padding: 0 2px;


}
